@font-face {
  font-family: "Roboto Regular";
  src: url(/Assets/fonts/Roboto-);
}
@font-face {
  font-family: "Roboto Bold";
  src: url(/Assets/fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: "KaushanScript";
  src: url(/Assets/fonts/KaushanScript-Regular.ttf);
}
@font-face {
  font-family: "Montserrat Regular";
  src: url(/Assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Montserrat Bold";
  src: url(/Assets/fonts/Montserrat-Bold.ttf);
}
body {
  font-family: "Roboto Regular", sans-serif;
  overflow-x: hidden;
}
h2 {
  font-family: "KaushanScript", sans-serif;
}
h1 {
  font-family: "Montserrat Bold", sans-serif;
}
h3 {
  font-family: "Montserrat Regular", sans-serif;
}
h5 {
  font : {
    family: "KaushanScript", sans-serif;
    size: convertFont(50);
  }
}

#textH {
  position: relative;
  margin: auto;
  margin-bottom: 3em;
}

#textH::after {
  content: " ";
  position: absolute;
  height: 4px;
  background: $secondaryColor;
  width: 60px;
  left: 0px;
  right: 0px;
  display: block;
  margin: 20px auto;
}

section {
  padding: 5em 0;
}

.content {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  z-index: 1;
  opacity: 0;
  text-align: center;
  color: white;
  text-transform: uppercase;
  transform: translateY(-50%);
}

.overlay {
  display: block;
  position: relative;
  left: 0;
  top: 0;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: $colorGradient;
  }
}

.item {
  background: $primaryColor;
  display: inline-block;

  &:hover .overlay {
    left: -10px;
    top: -10px;
  }
  &:hover .overlay::before {
    opacity: 1;
  }
  &:hover .text {
    opacity: 1;
  }
  &:hover .content {
    opacity: 1;
  }
}

.text {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  z-index: 1;
  opacity: 0;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  transform: translateY(-50%);
  font-weight: 700;
  font-size: convertFont(12);
  & i {
    display: block;
    font-size: 30px;
  }
}

