.happyClients {
  background: url(/Assets/images/backgrounds/bg-happy-client.jpg) no-repeat
    center center;
  background-size: cover;

  & img {
    width: 80px;
    margin-right: 30px;
  }
  & .name {
    font : {
      size: convertFont(20);
      weight: 700;
    }
  }
  & .job {
    position: relative;
    font-style: italic;
    margin-bottom: 5em;
    font-size: convertFont(15);
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 50px;
      height: 2px;
      margin-top: 2em;
      background: $secondaryColor;
    }
  }
  .opinion {
    font-size: covertFont(8);
  }
  .my_item {
    margin: 20px 0;
  }
}
