.quotes {
  padding: 2em 0;
  background: $bgBrand;
  & .quote {
    font : {
      size: convertFont(20);
      style: italic;
      wwight: 200;
    }
    color: grey;
  }
  & .name {
    font : {
      family: "KaushanScript";
      size: convertFont(15);
    }
    position: relative;
    padding-left: 50px;
    color: grey;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 40px;
      height: 3px;
      background: $secondaryColor;
    }
  }
  & .quoteImg {
    width: 10%;
  }
}
