.statistics {
  padding: 0;
  margin: 0;
  background: $primaryColor;
  text-align: center;
  color: #fff;

  & .item {
    padding: 2em 0;
    width: 20%;
    border-right: 1px solid white;

    &:first-child {
      border-left: 1px solid white;
    }

    & .txt {
      font-family: "Montserrat Regular", sans-serif;
      font-weight: 600;
      text-transform: uppercase;
      font-size: convertFont(15);
    }
    & .num {
      font-size: convertFont(50);
      font-weight: 700;
    }
  }
}

@media (min-width: 768px) {
  .statistics .item {
    padding: 0 0.5em;
    border: 1px solid white;
  }
}
@media (min-width: 320px) {
  .statistics .item {
    margin: 0.5em 0;
    border: 1px solid white;
  }
}

