@import "sass/var";
@import "sass/functions";
@import "sass/base";
@import "sass/placeholders";
@import "sass/navbar";
@import "sass/header";
@import "sass/story";
@import "sass/statistics";
@import "sass/services";
@import "sass/uniqueDesign";
@import "sass/whatWeDo";
@import "sass/quotes";
@import "sass/ourTeam";
@import "sass/brands";
@import "sass/ourWork";
@import "sass/happyClients";
@import "sass/blogs";
@import "sass/map";
@import "sass/contact";
